body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #f3f2ec;
  color: #1a1a1a;
}

/* HERO */

.hero {
  height: 90vh;
  background:
    linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("foto1.jpg") center/cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 64px;
  margin: 0;
  font-weight: 300;
}

.hero p {
  font-size: 26px;
  margin-top: 15px;
  letter-spacing: 2px;
}

/* CONCEPT */

.concept {
  max-width: 900px;
  margin: auto;
  padding: 90px 25px;
  text-align: center;
}

.concept h2 {
  color: #556b2f;
  font-weight: 400;
}

.concept p {
  line-height: 1.7;
  font-size: 18px;
}

/* EXPERIENCE TEXT */

.experience-text {
  text-align: center;
  padding: 60px 20px;
}

.big-quote {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 2px;
}

.big-quote.olive {
  color: #556b2f;
  margin-top: 20px;
}

/* GALLERY */

.gallery-section {
  padding: 60px 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 30px;
}

.photo {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;

  opacity: 0;
  transform: translateY(60px) scale(0.96);
  transition: all 0.9s ease;
}

.photo.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.photo:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 45px rgba(85,107,47,0.35);
}

/* CLOSING */

.closing {
  text-align: center;
  padding: 100px 25px;
  max-width: 900px;
  margin: auto;
}

.closing h2 {
  color: #556b2f;
  font-weight: 400;
}

/* FOOTER */

footer {
  background: #556b2f;
  color: white;
  text-align: center;
  padding: 30px;
  letter-spacing: 2px;
}

/* LIGHTBOX */

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.93);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#lightbox img {
  max-width: 92%;
  max-height: 90%;
  border-radius: 14px;
}
